<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <title>StoryBooks</title>
</head>
<body>
    <nav class="grey darken-3">
        <div class="nav-wrapper container">

            <a href="#!" class="brand-logo center">StoryBooks</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/stories">Public Stories</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="fixed-action-btn">
        <a href="/stories/add" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-plus"></i></a>
    </div>
    <div class="container">
        <h1>Stories</h1>
        <div class="row">
            <% if(stories.length>0){ %>
                <% for (let i = 0; i < stories.length; i++) { %>
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <!-- editIcon (helper/local) in app.js-->
                                <%- editIcon(stories[i].user, user, stories[i]._id) %>
                            </div>
                            <div class="card-content center-align">
                                <h5><%= stories[i].title %></h5>
                                <!-- truncate helper to shorten body & stripTags helper to strip paragraph tags (both in app.js)-->
                                <p><%= stripTags(truncate(stories[i].body, 150)) %></p>
                                <br>
                                <div class="chip">
                                    <img src=<%= stories[i].user.image %> alt="">
                                    <a href="/stories/user/<%= stories[i].user._id %>"><%= stories[i].user.displayName %></a>
                                </div>
                            </div>
                            <div class="card-action center-align">
                                <a href="/stories/<%= stories[i]._id %>" class="btn grey">Read More</a>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <p>No stories to display</p>
            <% } %>
        </div>
    </div>

    <!-- materialize (cdnjs)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- ck editor (cdnjs)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.19.1/ckeditor.js" integrity="sha512-Ooi9IbjM2SIDjQ02ENbPFuuORT8F8Rc+rowcYfLneDwKRxw1+gVVj5tciVmV/APnA/Ys+qy1MbNKK3k2EaAHcw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        M.Sidenav.init(document.querySelector('.sidenav'))
        M.FormSelect.init(document.querySelector('#status'))
        // name of textarea (i.e. name="body")
        CKEDITOR.replace('body', {
            plugins: 'wysiwygarea, toolbar, basicstyles, link'
        })
    </script>
</body>
</html>