<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <title>StoryBooks</title>
</head>
<body>
    <nav class="grey darken-3">
        <div class="nav-wrapper container">

            <a href="#!" class="brand-logo center">StoryBooks</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/stories">Public Stories</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="fixed-action-btn">
        <a href="/stories/add" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-plus"></i></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m8">
                <h3><%= story.title %>
                    <small><%- editIcon(story.user, user, story._id,false) %></small>
                </h3>
                <div class="card story">
                    <div class="card-content">
                        <span class="card-title"><%= formatDate(story.createdAt, 'MMMM Do YYYY, h:mm:ss a') %></span>
                        <!-- parse html -->
                        <%= stripTags(story.body) %>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card center-align">
                    <div class="card-content">
                        <span class="card-title"><%= story.user.displayName %></span>
                        <!-- img-small requires style.css -->
                        <img src=<%= story.user.image %> 
                        class="circle responsive-img img-small">
                    </div>
                    <div class="card-action">
                        <a href="/stories/user/<%= story.user._id %>">More From <%= story.user.firstName %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- materialize (cdnjs)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- ck editor (cdnjs)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.19.1/ckeditor.js" integrity="sha512-Ooi9IbjM2SIDjQ02ENbPFuuORT8F8Rc+rowcYfLneDwKRxw1+gVVj5tciVmV/APnA/Ys+qy1MbNKK3k2EaAHcw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        M.Sidenav.init(document.querySelector('.sidenav'))
        M.FormSelect.init(document.querySelector('#status'))
        // name of textarea (i.e. name="body")
        CKEDITOR.replace('body', {
            plugins: 'wysiwygarea, toolbar, basicstyles, link'
        })
    </script>
</body>
</html>